*{
	text-decoration: none;
	padding:0;
	margin:0;
	border:0;
}

body{
	width: auto;
	margin: auto;
    background: black;
	font-family: Arial, Helvetica, sans-serif;
}

.h1 {

	color: white;
	text-align: center;
	padding-left: 30%;
	font-family: "Bookman Old Style";
	font-size: 170%;


}

.h2{
	color: white;
	text-align: left;
	padding-top: 1%;
	font-family: "@Yu Gothic UI Semibold";
	font-size: 80%;

}

.h3{
	color: white;
	text-align: left;
	padding-top: 1%;
	font-family: "@Yu Gothic UI";
	font-size: 70%;

}
.nou:hover {
	color: #cc5c5c
}

header{
	background-color: black;
	width: 100%;

}

/*--filter--*/




.wrapper {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.filter-price {
  width: 200px;
  border: 0;
  padding: 0;
  margin: 0; 
}

.price-title {
  position: relative;
  color: #fff;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  background: #d58e32;
  padding:10px;
}


.price-container {
    display: flex;
    border: 1px solid #ccc;
    padding: 5px;
    margin-left: 57px;
    width:120px;
}

.price-field {
  position: relative;
  width: 100%;
  height: 36px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 0px;

}

.price-field input[type=range] {
    position: absolute;
}

/* Reset style for input range */

.price-field input[type=range] {
  width: 100%;
    height: 10px;
	border: 1px solid black;
    outline: 0;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-appearance: none;
}

.price-field input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.price-field input[type=range]:active,
.price-field input[type=range]:focus {
  outline: 0;
}

.price-field input[type=range]::-ms-track {
  width: 188px;
  height: 2px; 
  border: 0;
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  pointer-events: none;
  background: transparent;
  border-color: transparent;
  color: red;
  border-radius: 5px;
}

/* Style toddler input range */

.price-field input[type=range]::-webkit-slider-thumb { 
  /* WebKit/Blink */
    position: relative;
    -webkit-appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-top: -4px;
    background-color: #fff;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    z-index: 100;
}


.price-field input[type=range]::-ms-thumb  { 
  /* IE */
  position: relative;
  appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: -5px;
  background-color: #242424;
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

/* Style track input range */

.price-field input[type=range]::-webkit-slider-runnable-track { 
  /* WebKit/Blink */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background: #555;
  border-radius: 5px;
}



.price-field input[type=range]::-ms-track { 
  /* IE */
  width: 188px;
  height: 2px;
  cursor: pointer;
  background: #242424;
  border-radius: 5px;
}

/* Style for input value block */

.price-wrap {
  display: flex;
  color: #242424;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  margin-bottom: 0px;
}

.price-wrap-1, 
.price-wrap-2 {
  display: flex;
  margin-left: 0px;
}

.price-title {
  margin-right: 5px;
}

.price-wrap_line {
    margin: 6px 0px 5px 5px;
}

.price-wrap #one, 
.price-wrap #two {
  width: 30px;
  text-align: right;
  margin: 0;
  padding: 0;
  margin-right: 2px;
  background:  0;
  border: 0;
  outline: 0;
  color: #242424;
  font-family: 'Karla', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
}

.price-wrap label {
    text-align: right;
    margin-top: 6px;
    padding-left: 5px;
}

/* Style for active state input */
    
.price-field input[type=range]:hover::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.5px #242424;
  transition-duration: 0.3s;
}

.price-field input[type=range]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.5px #242424;
  transition-duration: 0.3s;
}


/*---search---*/
#Div{

  display: flex;
  flex-wrap: wrap;
}

#Div1{
	width: 15%;
}

#Div2{
	width: 60%;
	display: flex;
	justify-content: flex-start;
	padding-left: 27%;
}

#Div3{
	width: 25%;
	
	background-color:red;
}


#search-button{
	padding-top: 10px;
}
#search-button input{

	text-align: center;
	border-radius: 10px;
			-webkit-transition: width 0.4s ease-in-out;
		transition: width 0.4s ease-in-out;
		width: 140px;
}
#search-button input:focus{
	width:170px;
}

nav{
	background-color: black;
	padding-bottom: 0.2%;
	position: sticky;
	top:0;

}

nav ul {

	list-style-type: none;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	padding: 0 ;
	background-color: black;
	overflow: hidden;
	text-align: center;
}

nav ul li {
	display: inline;
}

nav ul li a {

	color:white;
	text-decoration: none;
	padding: 1% 1%;
}
nav ul li a:hover {

	color: #cc5c5c
}

.FemeiBarbati{
	font-family: "Bookman Old Style";
	font-size: 85%;
}
.ContCos {
	font-family: "Bookman Old Style";
	font-size: 80%;
}

/* SECTION */
section{
	background: white;
	margin-bottom:7px;
	padding-left: 3%;
	padding-right: 2%;
	padding-top: 3%;
	padding-bottom: 3%;
}


/* Inregistrare */

.form-style-10{

	margin: auto;
	width:50%;
	padding-top:5%;
	padding-bottom: 5%;
	background: #FFF;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.19);
}
.form-style-10 .inner-wrap{
	padding: 30px;
	background: #F8F8F8;
	border-radius: 6px;
	margin-bottom: 15px;
}
.form-style-10 h2{
	background: #751F1F;
	padding: 20px 30px 15px 30px;
	margin: -30px -30px 30px -30px;
	border-radius: 10px 10px 10px 10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 29px 'Bitter';
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #751F1F;
}
.form-style-10 h2 > span{
	display: block;
	margin-top: 2px;
	font: 13px Arial, Helvetica, sans-serif;
}
.form-style-10 label{
	display: block;
	font: 16px Arial, Helvetica, sans-serif;
	color: black;
	margin-bottom: 15px;
}


.form-style-10 label >span{
	display: block;
	margin-top: 2px;
	font: 12px Arial, Helvetica, sans-serif;
}



.form-style-10 input[type="text"],
.form-style-10 input[type="date"],
.form-style-10 input[type="datetime"],
.form-style-10 input[type="email"],
.form-style-10 input[type="number"],
.form-style-10 input[type="search"],
.form-style-10 input[type="time"],
.form-style-10 input[type="url"],
.form-style-10 input[type="password"],
.form-style-10 textarea,
.form-style-10 select {
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.form-style-10 .section2{
	font: normal 24px 'Bitter', serif;
	color: black;
	margin-bottom: 5px;


}
.form-style-10 .section2 span {
	background: #751F1F;
	padding: 5px 10px 5px 10px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 4px solid #fff;
	font-size: 14px;
	margin-left: -39px;
	margin-right: 45px;
	color: #fff;
	margin-top: -3px;
}
.form-style-10 input[type="button"],
.form-style-10 input[type="submit"]{
	background: #751F1F;
	padding: 8px 20px 8px 20px;
	margin-left:40%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #751F1F;
	font-size: 15px;
}
.form-style-10 input[type="button"]:hover,
.form-style-10 input[type="submit"]:hover{
	background: #BF3B3B;
	-moz-box-shadow: inset 0px 2px 2px 0px #BF3B3B;
	-webkit-box-shadow: inset 0px 2px 2px 0px #BF3B3B;
	box-shadow: inset 0px 2px 2px 0px #BF3B3B;
}


/*Reducere*/

#reducere{

	width: 80%;
	height: 370px;
	background: white;
	margin-bottom: 25px;
	margin-left: 10%;
}

#reducereLeft{
	background-color:white;
	margin-left:7%;
	width: 80%;
	height: 310px;
	padding: 2px;
	float: left;
	
}

#reducereText{
	color:white;
	font: normal 40px 'Arial Black';
	font-weight: normal;
	text-align: center;
	margin-top: 9%;
	margin-left: 5%;
}
#reducereText2{
	background-color: black;
	color:white;
	font: normal 17px 'Arial Black';
	font-weight: 900;
	text-align: center;
	padding-top: 5px;
	padding-bottom:5px;
	margin-right:13%;
	margin-left:7%;
	
}


/* BESTSELLER */
#bestSeller{

	width: 100%;
	height: 320px;
	background: white;
	margin-bottom: 5px;

}

#bestSellerW{
	background-image: url("images/bestsellerW.jpg");
	background-size: 100% 320px;
	width: 48%;
	height: 320px;
	padding: 2px;
	float: left;
	margin-right: 4px;
}

#bestSellerM{
	background-image: url("images/bestsellerM.jpg");
	background-size: 100% 320px;
	width: 49%;
	height: 320px;
	padding: 2px;
	float: left;
	margin-left: 4px;
	margin-right: 0;
}

.bestSellerText{
	color:white;
	font: normal 42px 'Arial Black';
	font-weight: 900;
	text-align: center;
	margin-top: 33%;
}
.bestSellerText2{
	background-color: white;
	color:black;
	font: normal 17px 'Arial Black';
	font-weight: 900;
	text-align: center;
	margin-left: 28%;
	margin-right: 28%;
	padding-top: 5px;
	padding-bottom:5px;
}

/* Top Noutati */
#topNoutati{
	background-color: white;
	margin-top: 60px;
	margin-bottom: 100px;
}

#topNoutatiFoto{
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#titleTOP{
	padding-top: 25px;
	padding-bottom: 25px;
	text-align:center;
	font: 30px 'Bookman Old Style';
}

.fotoNoutati{
	background-color: white;
	width: 20%;
	height: 30%;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	
	border: solid 5px white ;
  transition: border-width 0.6s linear;

}

.fotoNoutati:hover { border-width: 10px;
border-color:#fbfbff; }

.dimensiuneFoto{
	width: 100%;
	height: 100%;
}

.textTop{
	width:100%;
	height: 30%;
	background-color: white;
	text-align: center;
}



/* Top Branduri */
#topBranduri{
	background-color: white;
	margin-top: 30px;
}

#topBranduriFoto{
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#titleTopBrand{
	padding-top: 25px;
	padding-bottom: 25px;
	text-align:center;
	font: 30px 'Bookman Old Style';
}

.foto{
	text-align:center;
	display: flex;
	flex-direction: column-reverse;
	background-color: white;
	width: 20%;
	height: 25%;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 2% 2% 2% 2%;

}

/* Pagina ParfumuriFemei */



.columnPF {
	float: left;
	height: 1000px;
	background-color: white;

}

.parfumuriLeft{
	width: 20%;
}

.parfumuriRight{
	width: 79%;
	border-left: solid;
	border-color: black;
}

.titluPF{
	font: bold 30px "Bitter";
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 10px;

	background-color: white;
}

.textParfumuri{
	width:100%;
	height: 30%;
	background-color: white;
	text-align: center;
	font-size: 15px;
}

.textPret{
	width:100%;
	height: 30%;
	background-color: white;
	text-align: center;
	font-size: 14px;
}

.filtreParfum{
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 20px;
	font: bold 25px "Bitter";
}

.filtru{
	padding-left: 15px;
	border-bottom: solid;
	border-color: black;
	border-bottom-width: 1px;
	margin-left: 25px;
	margin-right: 50px;
}



/*footer*/

.row {
	display: flex;
}

.coloanaNewsletter{
	justify-content: space-around;
	width: 33.3%;
	text-align: center;
}

.column {
	float: left;
	height: 300px;
	margin : 1px;
}

.left{
	width: 25%;
}

.right{
	width: 75%;
}
.contact{

	padding: 4%;
	height: 300px;
	background-color: black;
}

.column2{

	padding: 4%;
	height: 250px;

	background-color: black;
}

/* Newsletter */
.newsletter{

  color:#fff;
  background:#000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.newsletter h1{
	font-size: 20px;
}

.newsletter form {
  margin-top:0;
  padding-top: 15px;
  padding-left: 15px;
}

.newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}



/*
#search-button input{
	width: 3%;
	  border-radius:100px;
	  margin:0;
		background-image: url('search1.png');
		background-position: 3px 3px;
  background-repeat: no-repeat;
	-webkit-transition: width 0.4s ease-out;
transition: width 0.4s ease-out;
}
#search-button input:focus{
	width:15%;
}
*/
/*----main----*/
.bestseller{
	float: left;
width: 50%;
border:0;
margin: 0;
}
#info{
	background: white;
}

.coloana1 p{
	padding:0;
	margin:2%;
}


.main{
	background: white
}



/*---login page --*/
.row1{
	display: flex;
	margin: 0;
	padding: 0;
	border:none;
}

.title h2{
	text-align:center;
	padding:5%;
	text-transform: uppercase;
}
.column-left{
	width: 50%;
	border-right : 3px solid #f1f1f1;
	padding:3%;
	margin:0;
}
.column-left h4{
	margin:10px;
	text-align: center;
}

.column-right{
	width: 50%;
	padding: 3%;
	margin:0;
}
.column-right h4{
	margin:10px;
	text-align: center;
}
.login label{
	float:left;
	font-size: 15px;
	padding: 0;
	margin:0;
}
.login{
text-align: center;
padding:0;
margin:0;
border:0;
font-size: 17px;
}
.box{
	text-align:center;
	border:0;
	margin:0;
	padding:0;
}
.box p{
	font-size: 13px;
	margin:0;
	padding:0;
	border:0;
}
.box1 {
	padding:3%;
}

.login input[type=text], input[type=password]{
	width: 100%;
 padding: 0;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #ccc;

}
.box1 button{
	background-color: black;
	text-align: center;
  color: white;
  padding: 0;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.login button{
	background-color: black;
	text-align: center;
  color: white;
  padding: 0;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
span.psw {
  text-align: center;
  padding-top: 16px;
	font-size: 15px;
}
.login input[type=checked]{

	text-align: left;
}
.login label{
	width:10%;
}

/*---shoppingcart---*/
.title{
	text-align: center;
	font-weight: 50%;
	font-size: 35px;
}
strong{
	font-weight: bold;

}
.bascket{
	padding:20px;
	width: 70%;
}
.bascket-tags{

	border-top: 2px solid #ccc;
	border-bottom:2px solid #ccc;
	margin:0;
	padding:0;
}
.bascket ul{
	display: flex;
}
.bascket li{
	padding-left:60px;
	padding-right:60px;
	margin :0;
	border:none;
}

.bascket-products{
	display:flex;
		border-bottom:2px solid #ccc;

}
.product-details h1{
	float:left;
	text-align: left;
	font-size:10px;
}
.item{
	padding-left:60px;
	text-align: center;
}
.price {
	float:right;
	border:none;
	padding-top:50px;
	padding-left:50px;
}
.price:after{
	content: ' LEI';
}
.subtotal:after{
	content: ' LEI';
}
.quantity{
	float:right;
	border:none;
	padding-top:50px;
	padding-left:150px;
}
.subtotal{
	float:right;
	border:none;
	padding-top:50px;
	padding-left:160px;
}
.remove{
	float:right;
	border:none;
	padding-top:50px;
	padding-left:70px;

}
.remove button{
	 background-color: black;
	 color:white;
	 border-radius:30px;
	 font-size:14px;
}
.remove button:hover{
	color:#ccc;
}
.quantity input{
	width:50px;
	border-radius:30px;

}
.product-details p{
	font-size:10px;
}
#box2{
	display: flex;
}
aside{
background: 	#DCDCDC;
float:right;
width: 20%;
padding:20px;
margin-top:10%;
height: 270px;
font-size: 0.75rem;
}
.summary h4{
	text-align: center;
	border-bottom:2px solid #ccc;
	padding: 3px;
}
#basket-subtotal, #basket-total{
	float:right;
	text-align: right;
	padding: 0;
	border:0;
	margin:0;
}
.final-value{
	float:right;
}
.summary-checkout button{
	text-align: center;
}
.summary-subtotal,
.summary-promo,
.summary-total,
.box3{
	border-bottom:2px solid #ccc;
	padding:1%;
}
.checkout-cta {
  display: block;
	background: black;
	color:white;
  float: none;
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  padding: 0.625rem 0;
  width: 100%;
}
/*----myaccount----*/
.menu{
	display:flex;
	padding:0;
	margin:0;
	height:10px;
}
.lista{
   width: 33.3%;
	 padding: 0;
	 border:none;
	 margin:0;
	 text-align: center;
	 text-transform: uppercase;
	 font-size: 15px;
}
.lista:hover{
	color: #ccc;
}

/*--personaldata----*/
.personal-data{
	float:center;
	text-align: left;
	border: 2px solid black;
	padding:5%;
	padding-top:5px;
	margin-top:10%;
	margin-bottom: 5%;
	margin-left:25%;
	width:50%;
}
.personal-data button{
	float:right;
	background-color:white;
	border:none;
	margin:0;
	padding:0;
	font-size:13px;
	text-decoration:underline;
}
.personal-data .field-title{
	padding:5px;
	margin:3px;
	padding-top: 10px;
	text-transform: uppercase;
	font-size:13px;

}
.personal-data p{
	padding:0;
	margin:0;
	margin-left: 10px;
	font-size:13px;
}
.personal-data1 .field-title{
	padding:5px;
	margin:3px;
	padding-top: 10px;
	text-transform: uppercase;
	font-size:13px;

}
.personal-data1 p{
	padding:0;
	margin:0;
	margin-left: 10px;
	font-size:13px;
}
.adresa{
	float:center;
	margin:0;
	padding:0;
	border:none;
	text-align: center;
}
.personal-data1{
	float:center;
	text-align: left;
	border: 2px solid black;
	padding:5%;
	padding-top:0;
	margin-top:0;
	margin-bottom: 5%;
	margin-left:25%;
	width:50%;
}
.personal-data1 button{
	float:right;
	background-color:white;
	border:none;
	margin:0;
	padding:0;
	font-size:13px;
	text-decoration:underline;
}
/*-----orderhistory---*/
.title1{
	padding:0;
	margin-top:5%;
	width:50%;
	margin-left:25%;
}
.title1 h3{
	text-align:left;
	font-weight: bold;
	font-size:20px;
	padding:0;
	margin:0;
}
.title1 p{
	text-align:left;
	padding:0;
	margin:0;
}
.history{
	width:50%;
	margin-left:25%;
	border:1px solid #ccc;
}
.order-info p{
 padding:1%;
 margin:0;
 width:50%;
}
.order-info .order-date{
	font-size:10px;
}
.order-info{
	padding: 0;
	margin:0;
	border:none;
}
.order-status{
	text-align: right;
	padding:15px;
	margin:0;
	width:50%;
	border:none;
}
.order{
	display: flex;
	border:1px solid #ccc;
}
.title2{
	text-align:left;
	margin:5%;
}
#wishlist{
	border:none;
	padding:0;
	margin:0;
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
}
.items{
	border:1px solid #ccc;
	padding:1%;
	width: 25%;
	margin:3%;
	text-align: center;
}
.items button {
	background:black;
	color:white;
}
.title2{
	text-align: center;
	margin:3%;
}






/* -------------------------------------------*/
html,
body,
img,
figure {
  max-width: 100%;
}



.ct-footer {
  background-color: #111;
  padding-top: 70px;
  margin-top: 20px;
  position: relative;
}
.ct-footer-pre {
  width: 100%;
  padding-bottom: 55px;
  border-bottom: 1px solid #555;
  padding-left: 30px;
  padding-right: 30px;
}

.ct-footer-pre span {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #ebebeb;
  font-size: 30px;
}
.ct-footer-pre .form-group {
  position: relative;
  margin: 0;
}
.ct-footer-pre .form-group:before,
.ct-footer-pre .form-group:after {
  content: '';
  display: table;
}
.ct-footer-pre .form-group:after {
  clear: both;
}
.ct-footer-pre .form-group input {
  border: 1px solid #751F1F;
  background-color: #333;
  color: #fff;
  height: 50px;
  padding: 0 30px;
  margin: 0 5px;
  border-radius: 0 !important;
}
.ct-footer-pre .form-group button {
  height: 50px;
  position: relative;
  width: 80px;
  padding: 0
}
.ct-footer-list {
  padding: 50px 0;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  display: table;
  width: 100%;
  border-bottom: 1px solid #555;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.ct-footer-list > li .ct-footer-list-header {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #D83636;
  font-size: 30px;
}
.ct-footer-list > li ul {
  list-style: none;
  padding-left: 0;
}
.ct-footer-list > li ul li a {
  color: #fff;
}
.ct-footer-list > li ul li a:hover,
.ct-footer-post a:hover {
  text-decoration: underline;
}
.ct-footer-post {
  background: #000;
  padding: 30px 0;
}
.ct-footer-post .inner-left,
.ct-footer-post .inner-right {
  padding: 20px 0;
}

.ct-footer-post a {
  color: #fff;
}
.ct-footer-post p {
  color: #fff;
}



.btn {
  font-family: 'Open Sans Condensed', sans-serif;
  border-radius: 0;
  border: none;
  text-transform: uppercase;
  color: #ebebeb;
  font-size: 26px;
  padding: 12px 30px;
}
.btn.btn-motive {
  background-color: #751F1F;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}
.btn.btn-motive:hover,
.btn.btn-motive:hover:active {
  background-color: #C03939;
}

.ct-section_header + p {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1.5px;
  text-align: center;
}


/* Media Queries */

@media (min-width:1200px) {
  .ct-footer-pre {
    display: table;

  }
  .ct-footer-pre > .inner {
    display: table-cell;
    vertical-align: middle;
  }
  .ct-footer-list > li {
    width: 20%;
    display: table-cell;
    vertical-align: top;
  }
  .ct-footer-list > li:last-child {
    width: 7%;
  }
}

@media (max-width:1199px) {
  .ct-footer-pre .form-group {
      padding-top: 15px
  }
}
@media (max-width: 1199px) {
  .ct-footer-list > li {
    display: inline-block;
 
  }
}
@media (min-width:992px) {
  .ct-footer-post .inner-left {
    float: left;
  }
  .ct-footer-post .inner-right {
    float: right;
  }
}
@media (max-width:991px) {
  .ct-footer-post {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .ct-footer-list > li {
    width: 33.3333%;
  }
}
@media (min-width:768px) {
  .ct-footer-post p {
    display: inline-block;
  }
  .ct-footer-post p + p {
    padding-left: 50px;
  }
}
@media (max-width:767px) {
  address {
    padding-top: 30px;
  }
}
@media (min-width: 480px) and (max-width:767px) {
  .ct-footer-list > li {
    width: 50%;
  }
}
@media (min-width:480px) {
  .ct-footer-pre .form-group button {
    top: -1px;
  }
  .ct-footer-pre .form-group input {
    width: 331px;
  }
}
@media (max-width:479px) {
  .ct-footer-pre .form-group input {
    float: left;
    width: 70%;
    margin: 0;
  }
  .ct-footer-pre .form-group button {
    float: left;
    width: 30%;
  }
  .ct-footer-list > li {
    width: 100%;
    text-align: center;
  }
  .ct-footer-list {
    padding: 20px 0;
  }
  .btn.btn-large {
    padding: 20px 10px;
    line-height: .9;
    font-size: 26px;
    letter-spacing: -.2px;
  }

}

/*----item----*/
.produs{
margin-left: 5%;
margin-right: 5%;
	display:flex;
	width: 100%;

}
.all{
	width:70%;

}
.produs img{
padding:5px;
margin: 5%;
	width: 50%;
}
.titlu-produs{
padding:10px;
	margin:5%;
	font-weight: bold;
	text-transform: uppercase;
}
.detalii-produs{
	display:flex;
	flex-direction: column;
	width: 80%;
	height: 20%;
}
.informatii{
	display:flex;
	padding:10px;
	flex-direction:row;
	width: 100%;
	border: 2px solid #DCDCDC;
}

.informatii p{
	padding:0;
	margin:0;
	border:none;
	margin-left:5px;
	margin-right:29%;
}
.rowprodus{
	height: 100px;
	width: 100%;
	background: #ccc;
}
.info-show{
	display:flex;
	flex-direction:row;
	padding:0;
	margin:2%;
}
.info-show p{
	padding:5px;
margin:0;
}
.info-show .stoc{
margin-left:30%;
}
.info-show form{
	margin-left: 27%;
}
.buttons{

	width: 80%;
	height: 20%;
}
.buttons button{
	background: black;
	color:white;
	height: 50%;
  width: 40%;
	margin-top:3%;
	margin-left: 5%;
}
.detalii-produs2{

	margin-left: 5%;
	margin-right: 5%;
		display:flex;
		flex-direction: row;
		width: 100%;
}
.compozitie{

		display:flex;
		flex-direction: column;
		width: 30%;
		text-align: center;
}
.compozitie h4{
	text-transform: uppercase;
	font-weight: bold;
}
.descriere{
	width: 50%;
	margin-left: 10%;
}
.descriere  h4{
	text-transform: uppercase;
	font-weight: bold;
}
@media screen and (max-width:823px){
	.produs{
	margin-left: 5%;
	margin-right: 5%;
		display:flex;
		flex-direction: column;
		width: 100%;
}
.produs img{
	   height:100%;
			width: 100%;
		 margin-left: 30%;
margin-right: 30%;
	}
.all{width:100%;}
.detalii-produs{width: 100%;margin:0;padding:0;}
.rowprodus{
	height: 100%;
	width: 100%;
	background: #ccc;
}
.informatii p{
	padding:0;
	margin:5%;
}
.info-show{
	display:flex;

	flex-direction:row;
	padding:0;
	margin:2%;
}
.info-show p{
padding:5px;
margin:0;
}
.info-show .stoc{
margin-left:20%;
}
.info-show form{
	margin-left: 10%;
}

.buttons{

	width: 80%;
	height: 20%;
	display: flex;
	flex-direction: column;
}
.buttons button{
	background: black;
	color:white;
	height: 100%;
  width: 100%;
	margin-top:3%;
	margin-left: 5%;
}
.detalii-produs2{
display:flex;
flex-direction: column;
	width: 100%;
}
.compozitie{

		display:flex;
		flex-direction: column;
		width: 100%;
		border:none;
		padding:0;
		text-align: center;
}
.descriere{
	width:100%;
	margin:0;
	padding:0;
	font-size:14px;
	border:none;
}
.row1{
	display:flex;
	flex-direction: column;
}
.column-left{
	width: 100%;
}
.column-right{
	width: 100%;
}
/*---wishlist---*/
#wishlist{
	display: flex;
	flex-direction: column;
}
.items{
	width: 100%;
}
.title2{
	padding:20px;
}
.history{
	width: 100%;
	padding:0;
	margin:0;
}
.title1{
width: 100%;
padding:0;
padding-top:40px;
margin:0;
}
/*---personaldata---*/
.personal-data{
	width: 100%;
	padding:0;
	margin:0;
	margin-top: 50px;
}
.personal-data1{
	width: 100%;
	padding:0;
	margin:0;
}

#bestSeller{

	width: 100%;
	height: 650px;
	background: white;
	margin-bottom: 10%;
	display: flex;
	flex-direction: column;

}

#bestSellerW{
	background-image: url("images/bestsellerW.jpg");
	background-size: 100% 320px;
	width: 100%;
	height: 300px;
	padding: 0;
	float: left;
	margin:0;
	margin-bottom: 10px;
}

#bestSellerM{
	background-image: url("images/bestsellerM.jpg");
	background-size: 100% 320px;
	width: 100%;
	height: 300px;
	padding: 0;
	float: left;
	margin:0;
	
}

.bestSellerText{
	color:white;
	font: normal 25px 'Arial Black';
	font-weight: 900;
	text-align: center;
	margin-top: 50%;
}
.bestSellerText2{
	background-color: white;
	color:black;
	font: normal 17px 'Arial Black';
	font-weight: 900;
	text-align: center;
	margin-left: 28%;
	margin-right: 28%;
	padding-top: 5px;
	padding-bottom:5px;
}

#reducere{

	width: 100%;
	height: 200px;
	background: white;
	padding: 0;
	margin: 0;


}

#reducereLeft{
	background-image: url("images/Mens.jpg");
	background-size: 100% 200px;
	width: 100%;
	height: 200px;
	padding: 2px;
	float: left;
	margin-right: 4px;
}

#reducereText{
	color:white;
	font: normal 15px 'Arial Black';
	font-weight: normal;
	text-align: center;
	margin-top: 9%;
	margin-left: 5%;
}
#reducereText2{
	background-color: black;
	color:white;
	font: normal 10px 'Arial Black';
	font-weight: 900;
	text-align: center;
	margin-top: 20%;
	margin-left: 40%;
	margin-right:30%;
	padding-top: 5px;
	padding-bottom:5px;
}

}
@media screen and (max-width:1024px){
	/*----shoppingcart---*/
	#box2{
		display: flex;
		flex-direction: column;
	}
	aside{
		width: 100%;
	}
	.bascket-tags{
		background-color: green;
		display: none;
	}
	.item{
		display: flex;
		flex-direction: column;
		padding: 0;
		margin:0;

	}
	.item img{
		width: 100%;
		height: 100%;

	}
	.product-details p{
		text-align: center;
	}
	.bascket-products{
		display: flex;
		width: 100%;
	  border: 1px solid #ccc;
		flex-direction: column;
			margin-left:20%;
	}
	.subtotal{
		display: none;
	}
	.price:before{
		content: 'Pret:'
	}
	.price{
		padding:0;
		margin:10px;
		text-align: center;
	}
	.quantity:before{
		content: 'Cantitate:'
	}
	.quantity{
		padding:0;
		margin:10px;
			margin-left: 30px;
		text-align: center;
	}
	.remove{
		padding:0;
		margin:10px;
		margin-left: 20px;
		text-align: center;
	}
}

